@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: rgb(205, 216, 51);
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

#fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#header {
    font-size: 3.4rem;
    line-height: 1.2;
    position: relative;
    margin: 2rem;
    margin-top: .8rem;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.26);
}

input {
    padding: 12px;
    width: 180px;
    font-family: Poppins;
    font-size: 1rem;
    color: black;
    border: 2px solid black;
    border-radius: .5rem;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.16);
}

select {
    padding: 15px;
    border: 2px solid black;
    border-radius: .5rem;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.16);
    margin-right: 10px;
}

#refreshBtn {
    width: max-content;
    padding: 12px;
    border-radius: .5rem;
    margin: 0 auto;
    background-color: white;
}

img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    background-clip:content-box;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.16);
}
